# Data Analytics Capstone Project
### Beth Harvey
### October 22, 2023

# Introduction

As climate change, habitat loss, and disease continue to threaten wildlife throughout the world, detailed research is becoming more and more important. In 2023 alone, the U.S. Fish and Wildlife service took 21 species off of the Endangered Species Act list because they are now considered extinct [1]. Ten of those 21 species are birds. More research and resources are needed to develop effective conservation efforts. 

Some key components of bird conservation research is being able to accurately classify individual specimens, as well as being able to identify potential connections between different species. One of the most valuable resources for an effort like this is an extensive collection of detailed measurements for a wide variety of species.

## Project Goals

The end goal of this project is to build a model that can predict what family and/or species a bird falls into based on several physical measurements. This could help researchers more accurately classify individuals when two or more species are possible. The model will be trained and tested using the AVONET dataset [3], a collective effort by researchers and volunteers to provide measurements of over 90,000 specimens of over 11,000 bird species.

## Data

The data used for this project is from a large, collective effort known as the AVONET dataset. It is a collection of physical measurements, habitat information, and geographic information for over 90,000 specimens representing over 11,000 species of birds [3]. The majority of individuals measured were museum specimens, though many live birds were included as well. The raw data can be downloaded as Microsoft Excel files from https://figshare.com/s/b990722d72a26b5bfead [2]. The physical measurements are described in the Metadata sheet of Supplementary dataset 1 from the link above, and they are also shown in the figure below [3].

![Illustration of bird showing measurements used](measurements-fig.jpg)

The measurements are:

   1. Beak length from tip to base of skull
   2. Beak length from front edge of nostril to tip
   3. Beak width from front edges of nostrils
   4. Beak depth from front edges of nostrils
   5. Lower leg (tarsus) length
   6. Wing length from bend to end of longest feather 
   7. Wing length from bend to end of outer secondary (shorter) feather
   8. Length from tip of outer secondary (shorter) feather to tip of longest feather
   9. Tail length [3]


The remaining measurements are the mass of the bird and the "hand-wing index," which is calculated using measurements 6 and 8. Information about the bird's habitat, migration pattern(s), eating habits, conservation status, and geographic location are also included [2]. The physical measurements and age, sex, and country are all from the AVONET Raw Data sheet of Supplemental dataset 1, and the geographic and behavior information is from the AVONET1 BirdLife sheet of the same file
 [2]. The physical measurements shown in the figure above and the mass and hand-wing index are the key features used for this model.

In [2]:
# Import modules
import pandas as pd

In [5]:
# Import data
avonet = pd.read_csv('avonet.csv')

# Data Inspection and Cleaning

In [8]:
# View shape and size of dataset
avonet.shape

(90371, 26)

In [12]:
avonet.describe(include='all')

,Avibase.ID,Species1_BirdLife,Species2_eBird,eBird.species.group,Species3_BirdTree,Data.type,Source,Specimen.number,Sex,Age,...,Beak.Depth,Tarsus.Length,Wing.Length,Kipps.Distance,Secondary1,Hand-wing.Index,Tail.Length,Measurer,Protocol,Publication
count,90370,90033,90005,90189,90303,90020.000000,90013,73793,90020,90020.000000,...,75365.000000,80517.000000,89275.000000,62716.000000,64214.000000,62683.000000,83608.000000,90371,90020.000000,3309
unique,11237,11020,10522,11228,9988,NaN,80,71860,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153,NaN,3
top,AVIBASE-F9D288FC,Zosterops chloris,Zosterops flavissimus,Zosterops flavissimus,Zosterops chloris,NaN,NHMUK,NOLABEL,M,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS,NaN,Cardona-Salazar et al. 2020 https://esajournal...
freq,565,784,565,565,784,NaN,46060,102,45523,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10981,NaN,3305
mean,NaN,NaN,NaN,NaN,NaN,1.157487,NaN,NaN,NaN,0.014097,...,7.431216,26.910135,111.780419,34.179525,84.019292,24.923443,81.531344,NaN,0.570473,NaN
std,NaN,NaN,NaN,NaN,NaN,0.364262,NaN,NaN,NaN,0.117891,...,6.896128,20.971246,82.125548,41.726709,53.306447,14.298360,58.007356,NaN,0.495011,NaN
min,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.000000,...,0.700000,1.900000,0.100000,0.100000,0.100000,0.100000,0.100000,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.000000,...,3.700000,17.300000,64.000000,11.000000,52.900000,15.200000,48.100000,NaN,0.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.000000,...,5.400000,21.600000,84.000000,18.600000,68.000000,20.900000,66.000000,NaN,1.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.000000,...,8.500000,29.100000,125.000000,38.700000,95.000000,30.300000,93.000000,NaN,1.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,1.000000,...,132.800000,490.000000,838.000000,450.000000,729.600000,95.900000,1415.000000,NaN,1.000000,NaN

In [13]:
avonet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90371 entries, 0 to 90370
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Avibase.ID           90370 non-null  object
 1   Species1_BirdLife    90033 non-null  object
 2   Species2_eBird       90005 non-null  object
 3   eBird.species.group  90189 non-null  object
 4   Species3_BirdTree    90303 non-null  object
 5   Data.type            90020 non-null  float64
 6   Source               90013 non-null  object
 7   Specimen.number      73793 non-null  object
 8   Sex                  90020 non-null  object
 9   Age                  90020 non-null  float64
 10  Locality             0 non-null      float64
 11  Country_WRI          77245 non-null  object
 12  Country              0 non-null      float64
 13  Beak.Length_Culmen   74222 non-null  float64
 14  Beak.Length_Nares    55738 non-null  float64
 15  Beak.Width           70324 non-null  float64
 16  Beak.Depth           75365 non-null  float64
 17  Tarsus.Length        80517 non-null  float64
 18  Wing.Length          89275 non-null  float64
 19  Kipps.Distance       62716 non-null  float64
 20  Secondary1           64214 non-null  float64
 21  Hand-wing.Index      62683 non-null  float64
 22  Tail.Length          83608 non-null  float64
 23  Measurer             90371 non-null  object
 24  Protocol             90020 non-null  float64
 25  Publication          3309 non-null   object
dtypes: float64(15), object(11)
memory usage: 17.9+ MB

### References

1. Schuldheisz, C.: Fish and wildlife service delists 21 species from the endan-
gered species act due to extinction, https://www.fws.gov/press-release/2023-10/21-
species-delisted-endangered-species-act-due-extinction
2. Tobias: ”avonet: morphological, ecological and geographical data for all birds”.
https://figshare.com/s/b990722d72a26b5bfead (2022), accessed on October 18,
2023
3. Tobias, J.A., Sheard, C., Pigot, A.L., Devenish, A.J.M., Yang, J., Sayol, F., Neate-
Clegg, M.H.C., Alioravainen, N., Weeks, T.L., Barber, R.A., Walkden, P.A., Mac-
Gregor, H.E.A., Jones, S.E.I., Vincent, C., Phillips, A.G., Marples, N.M., Monta ̃no-
Centellas, F.A., Leandro-Silva, V., Claramunt, S., Darski, B., Freeman, B.G., Breg-
man, T.P., Cooney, C.R., Hughes, E.C., Capp, E.J.R., Varley, Z.K., Friedman,
N.R., Korntheuer, H., Corrales-Vargas, A., Trisos, C.H., Weeks, B.C., Hanz, D.M.,
T ̈opfer, T., Bravo, G.A., Remeˇs, V., Nowak, L., Carneiro, L.S., Moncada R., A.J.,
Matysiokov ́a, B., Baldassarre, D.T., Mart ́ınez-Salinas, A., Wolfe, J.D., Chapman,
P.M., Daly, B.G., Sorensen, M.C., Neu, A., Ford, M.A., Mayhew, R.J., Fabio Sil-
veira, L., Kelly, D.J., Annorbah, N.N.D., Pollock, H.S., Grabowska-Zhang, A.M.,
McEntee, J.P., Carlos T. Gonzalez, J., Meneses, C.G., Mu ̃noz, M.C., Powell, L.L.,
Jamie, G.A., Matthews, T.J., Johnson, O., Brito, G.R.R., Zyskowski, K., Crates,
R., Harvey, M.G., Jurado Zevallos, M., Hosner, P.A., Bradfer-Lawrence, T., Maley,
J.M., Stiles, F.G., Lima, H.S., Provost, K.L., Chibesa, M., Mashao, M., Howard,
J.T., Mlamba, E., Chua, M.A.H., Li, B., G ́omez, M.I., Garc ́ıa, N.C., P ̈ackert,
M., Fuchs, J., Ali, J.R., Derryberry, E.P., Carlson, M.L., Urriza, R.C., Brzeski,
Bird Classification Model 5
K.E., Prawiradilaga, D.M., Rayner, M.J., Miller, E.T., Bowie, R.C.K., Lafontaine,
R.M., Scofield, R.P., Lou, Y., Somarathna, L., Lepage, D., Illif, M., Neuschulz,
E.L., Templin, M., Dehling, D.M., Cooper, J.C., Pauwels, O.S.G., Analuddin, K.,
Fjelds ̊a, J., Seddon, N., Sweet, P.R., DeClerck, F.A.J., Naka, L.N., Brawn, J.D.,
Aleixo, A., B ̈ohning-Gaese, K., Rahbek, C., Fritz, S.A., Thomas, G.H., Schleuning,
M.: Avonet: morphological, ecological and geographical data for all birds. Ecology
Letters 25(3), 581–597 (2022). https://doi.org/https://doi.org/10.1111/ele.13898,
https://onlinelibrary.wiley.com/doi/abs/10.1111/ele.13898

In [1]:
# Display system data
from watermark import watermark
print(watermark())

Last updated: 2023-10-22T16:16:32.818762-05:00

Python implementation: CPython
Python version       : 3.9.12
IPython version      : 8.2.0

Compiler    : Clang 12.0.0
OS          : Darwin
Release     : 23.0.0
Machine     : x86_64
Processor   : i386
CPU cores   : 8
Architecture: 64bit